<!DOCTYPE html>
<html>

<!-- Loading the head using thymeleaf component defined inside "layout.html" -->
<head th:replace="layouts :: head-component(page_name='Home')"></head>
<body>

	<!-- Loading the navbar using thymeleaf component defined inside "layout.html" -->
	<nav th:replace="layouts :: navbar-component"></nav>

	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="container">
					<div class="card">
						<div class="card-body">
							Current Projects
						</div>
					</div>
					<!--
                    <table>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Stage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="project : ${projects}">
                                <td th:text="${project.name}" />
                                <td th:text="${project.stage}" />
                            </tr>
                        </tbody>
                    </table>
                    -->

					<!-- Method 1: display projects table using a common component -->
					<table th:replace="layouts :: projects-table-component(${projects})"></table>
				</div>

				<div class="container">
					<div class="card">
						<div class="card-body">
							Employee Project Count
						</div>
					</div>
					<!-- Method 1: display without using a common component -->
					<!--
                    <table>
                        <thead>
                            <tr>
                                <th>Employee First name</th>
                                <th>Employee Last name</th>
                                <th>Employee Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.firstName}" />
                                <td th:text="${employee.lastName}" />
                                <td th:text="${employee.email}" />
                            </tr>
                        </tbody>
                    </table>
                    -->

					<!-- Method 2: display employees table using a common component defined in layouts.html. Disable edit and delete capabilities by passing boolean values -->
					<table th:replace="layouts :: employees-table-component(${employeesProjects}, ${false})"></table>
				</div>
			</div>
			<div class="col-4">
				<div class="container">
					<canvas id="myPieChart" height="50" width="50">
						<!-- [[${projectStageCount}]] - is the convention of assigning Java returned variables in JS -->
						<script type="text/javascript">
							var chartData = "[[${projectStageCount}]]";
						</script>
					</canvas>
				</div>
				<div class="container">
					<p th:text="${appVersion}"></p>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>