<!DOCTYPE html>
<html>

<!-- Head Component -->
<head th:fragment="head-component">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha512-mf78KukU/a8rjr7aBRvCa2Vwg/q0tUjJhLtcK53PHEbFwCEqQ5durlzvVTgQgKpv+fyNMT6ZQT1Aq6tpNqf1mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title th:text="${page_name}"></title>
</head>


<!-- Navbar Component -->
<nav th:fragment="navbar-component"
	class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" th:href="@{/}">Project IO</a>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
			<li class="nav-item"><a th:href="@{/employees}"
				class="nav-link">Employees</a></li>
			<li class="nav-item"><a th:href="@{/projects}"
				class="nav-link">Projects</a></li>
		</ul>
		<ul class="navbar-nav mr-right" sec:authorize="isAnonymous()">
			<li class="nav-item dropdown">
				<a class="nav-link" href="/login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Login
				</a>
				<div class="dropdown-menu p-3">
					<form class="form-horizontal" method="post" accept-charset="UTF-8">
						<input class="form-control login" type="text" name="username2" placeholder="Username">
						<input class="form-control login" type="text" name="password2" placeholder="Password">
						<input class="btn btn-primary" type="button" name="submit" value="Login">
					</form>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Register
				</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-right" sec:authorize="!isAnonymous()">
			<li class="nav-item dropdown">
				<a class="nav-link" href="/logout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Logout
				</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

<!-- Employees table component -->
<table class="table" th:fragment="employees-table-component(employeesProjects, enableEditAndDelete)">

	<thead class="table-striped table-dark">
		<tr>
			<th scope="col">First name</th>
			<th scope="col">Last name</th>
			<th scope="col">Project Count</th>
			<th th:if="${enableEditAndDelete}" scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="employee : ${employeesProjects}">
			<td th:text="${employee.firstName}" />
			<td th:text="${employee.lastName}" />
			<td th:text="${employee.projectCount}" />
			<td th:if="${enableEditAndDelete}" >
				<a th:href="@{/employees/update/{id}(id=${employee.employeeId})}" class="btn btn-info btn-sm">Update</a>
				<a th:href="@{/employees/delete/{id}(id=${employee.employeeId})}" class="btn btn-danger btn-sm" onclick="if ((!confirm('Ar you sure you want to delete this employee'))) return false">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- Projects table component -->
<table class="table" th:fragment="projects-table-component(projects)">
	<thead class="table-striped table-dark">
		<tr>
			<th>Project Name</th>
			<th>Project Stage</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="project : ${projects}">
			<td th:text="${project.name}" />
			<td th:text="${project.stage}" />
		</tr>
	</tbody>
</table>


</html>