
<!DOCTYPE html>
<html>

<!-- Head Component -->
<head th:fragment="head-component">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha512-mf78KukU/a8rjr7aBRvCa2Vwg/q0tUjJhLtcK53PHEbFwCEqQ5durlzvVTgQgKpv+fyNMT6ZQT1Aq6tpNqf1mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title th:text="${page_name}"></title>
</head>


<!-- Navbar Component -->
<nav th:fragment="navbar-component"
	class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Project IO</a>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
			<li class="nav-item"><a th:href="@{/employees}"
				class="nav-link">Employees</a></li>
			<li class="nav-item"><a th:href="@{/projects}"
				class="nav-link">Projects</a></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

<!-- Employees table component -->
<table class="table" th:fragment="employees-table-component(employeesProjectCount)">

	<thead class="table-striped table-dark">
		<tr>
			<th scope="col">First name</th>
			<th scope="col">Last name</th>
			<th scope="col">Project Count</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="empProjCount : ${employeesProjectCount}">
			<td th:text="${empProjCount.firstName}" />
			<td th:text="${empProjCount.lastName}" />
			<td th:text="${empProjCount.projectCount}" />
		</tr>
	</tbody>
</table>

<!-- Projects table component -->
<table class="table" th:fragment="projects-table-component(projects)">
	<thead class="table-striped table-dark">
		<tr>
			<th>Project Name</th>
			<th>Project Stage</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="project : ${projects}">
			<td th:text="${project.name}" />
			<td th:text="${project.stage}" />
		</tr>
	</tbody>
</table>


</html>