<!DOCTYPE html>
<html>
<!-- Loading the head using thymeleaf component defined inside "layout.html" -->
<head
	th:replace="layouts :: head-component(page_name='Create Employee')"></head>
<body>

	<!-- Loading the navbar using thymeleaf component added inside "layout.html" -->
	<nav th:replace="layouts :: navbar-component"></nav>

	<div class="container mt-2">
		<div class="card">
			<div class="card-body">Create Employee</div>
		</div>
		<!-- 
		"${employee}" is bound in "EmployeeController.java" via addAttribute Model method.
		Binding the fields ex: employee.name & etc as defined in Employee entity
		-->
		<form th:action="@{/employees/new}" th:object=${employee} method="POST">
			<div class="form-group">
				<label for="inputFirstName">First name</label> <input type="text"
					class="form-control" id="inputFirstName"
					placeholder="Enter first name" th:field="${employee.firstName}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="${employee.firstName}"></div>
			</div>
			<div class="form-group">
				<label for="inputLastName">Last name</label> <input type="text"
					class="form-control" id="inputLastName" placeholder="Enter last name"
					th:field="${employee.lastName}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="${employee.lastName}"></div>
			</div>
			<div class="form-group">
				<label for="inputEmail">Email address</label> <input type="email"
					class="form-control" id="inputEmail" aria-describedby="emailHelp"
					placeholder="Enter email" th:field="${employee.email}"> <small
					id="emailHelp" class="form-text text-muted">We'll never
					share your email with anyone else.</small>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="${employee.email}"></div>
			</div>
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-primary">Create
				Employee</button>
		</form>
	</div>
</body>
</html>