<!DOCTYPE html>
<html>
<!-- Loading the head using thymeleaf component defined inside "layouts.html" -->
<head th:replace="layouts :: head-component(page_name='Create Project')"></head>
<body>

	<!-- Loading the navbar using thymeleaf component added inside "layouts.html" -->
	<nav th:replace="layouts :: navbar-component"></nav>

	<div class="container mt-2">
		<div class="card">
			<div class="card-body">Create Project</div>
		</div>

		<!-- 
		"${project}" is binded in "ProjectController.java" via addAttribute Model method.
		Binding the fields ex: project.name & etc as defined in Project entity
		-->

		<form action="/projects/save" th:object=${project} method="POST">
			<div class="form-group">
				<label for="inputProjectName">Project name</label> <input
					type="text" placeholder="Project Name" class="form-control"
					id="inputProjectName" th:field="${project.name}" />
			</div>
			<div class="form-group">
				<label for="projectStageSelect">Project stage</label> <select
					class="form-control" id="projectStageSelect"
					th:field="${project.stage}">
					<option th:value="NOTSTARTED">Not Started</option>
					<option th:value="INPROGRESS">In Progress</option>
					<option th:value="COMPLETED">Completed</option>
				</select>
			</div>

			<div class="form-group">
				<label for="projectDescription">Project description</label>
				<textarea class="form-control" id="projectDescription" rows="3"
					th:field="${project.description}"></textarea>
			</div>
			
			<!--
			Allowing multiple Employees to be selected for projects
			Using *{employees} to access child Employee objects of Projects. Can also use ${project.employees}
			 -->
			<div class="form-group">
			<label for="employeeSelect">Employees</label>
			<select class="form-control" id="employeeSelect" th:field="*{employees}" multiple="multiple">
				<option th:each = "employee: ${allEmployees}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
				</option>
			</select>
			</div>
			<button type="submit" class="btn btn-primary">Create Project</button>
		</form>
	</div>
</body>
</html>